$screen-mb-min: 320px;
$screen-large-mb-min: 414px;
$screen-sm-min: 768px;
$screen-md-min: 1024px;
$screen-lg-min: 1440px;
$screen-xl-min: 1920px;

$color-black-1: #000;

$color-white-1: #fff;

$color-underline-1: #00000030;

$color-gray-1: #F2F2F2;
$color-gray-2: #18181917;

$color-green-1: green;
