.footer {
  background: $color-gray-4;
  color: $color-white-1;
  padding-top: 50px;
  text-align: center;

  &__item {
    margin: 0 10px;
  }

  &__top {
    padding-bottom: 10px;
    border-bottom: 1px solid $color-gray-5;
  }

  &__bottom {
    text-align: center;
    padding: 20px 0px;
  }
}
